/*   Nav   /*/

nav{
  background: #555;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}



.logo {
  height: 20.5px;
  fill: white;
}

.user{
  margin-right: 10px;
  height: 30px;

}


.list{
  height: 20px;
    margin-left: 15px;
}



.n-links{
  height: 30px;
  align-items: center;
}


.trial{
  border: none;
  background: black;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

/*   Stories   /*/

.advice-container{
  border-bottom: 1px solid #f4f5f6;
}

 .advice{
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: 300;
   color: black;
   text-align: center;
   padding: 15px 12px;
   line-height: 17px;
}



.advice-important{
  color: #f72210;
}

.story{
  margin-top: 20px;
  padding: 0px 15px;
}

.story img{
  width: 100%;
}

.story-title{
  color: rgba(3,3,3,.4);
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 11px;
}

.category{
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255,255,255,.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.img-container{
  position: relative;
  z-index: 1;
}

.category a{
  color: #f72210;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
}
